{% extends "base.html" %}

{% load staticfiles %}
{% load my_template_tags %}


{% block navbar  %}

<style>
    nav.navbar {
        /* position: inherit; */
        padding-bottom: 2cm;
    }

    .skin-light .navbar.navbar-transparent .navbar-nav .nav-item .nav-link {
        color: rgb(102, 109, 115);
    }
</style>

<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav class="white navbar z-depth-3 navbar-expand-md navbar-light fixed-top scrolling-navbar navbar-transparent">

        <div class="container-fluid navbar-container">

            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'core:home' %}">
                <img src="{% static 'img/icona5_black.png' %}" alt="mdb logo" width="56" height="56">
            </a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Right -->
                <ul class="navbar-nav ml-auto">

                    {% if request.user.is_authenticated %}

                    <!-- Cart -->
                    <li class="nav-item">
                        <a href="{% url 'order:order' %}" class="nav-link navbar-link-2 waves-effect">

                            {% if request.user|cart_item_count > 0 %}

                            <span class="badge badge-pill red">{{ request.user|cart_item_count }}</span>

                            {% endif %}

                            <i class="fas fa-shopping-cart pl-0"></i>
                        </a>
                    </li>
                    <!-- Cart -->

                    {% endif %}

                    <!-- Contact -->
                    <li class="nav-item">
                        <a href="{% url 'core:contact' %}" class="nav-link waves-effect">
                            Contact
                        </a>
                    </li>
                    <!-- Contact -->

                    <!-- Shop -->
                    <li class="nav-item">
                        <a href="{% url 'core:shop' %}" class="nav-link waves-effect">
                            Shop
                        </a>
                    </li>
                    <!-- Shop -->

                    {% if request.user|is_sub_seller_tag %}

                    <!-- Add Item  -->
                    <li class="nav-item ml-2 mr-2">
                        <a href="{% url 'item:add' %}" type="button"
                            class="btn btn-outline-primary btn-md btn-navbar waves-effect waves-light"
                            style="margin-left: 10px !important;">
                            <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                            <span class="clearfix d-none d-sm-inline-block" style="width: 52px;">add Item</span>
                        </a>
                    </li>
                    <!-- Add Item  -->

                    {% endif %}

                    {% if request.user.is_authenticated %}

                    <!-- Logout -->
                    <li class="nav-item pl-2 mb-2 mb-md-0">
                        <a href="{% url 'account_logout' %}" type="button"
                            class="btn btn-outline-primary btn-md btn-navbar waves-effect waves-light">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="clearfix d-none d-sm-inline-block">Logout</span>
                        </a>
                    </li>
                    <!-- Logout -->

                    {% else %}

                    <!-- Login -->
                    <li class="nav-item pl-2 mb-2 mb-md-0">
                        <a href="{% url 'account_login' %}" type="button"
                            class="btn btn-outline-primary btn-md btn-navbar waves-effect waves-light">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="clearfix d-none d-sm-inline-block">Login</span>
                        </a>
                    </li>
                    <!-- Login -->

                    {% endif %}

                </ul>

            </div>
            <!-- Links -->
        </div>
    </nav>
    <!-- Navbar -->

</header>
<!--Main Navigation-->

{% endblock navbar %}

{% block extra_scripts %}
<script language="javascript">
    $('.btn-navbar').attr('style', 'color: #1266f1 !important; border-color: #1266f1 !important;');

    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 10) {
                //$('.btn-navbar').attr('style', 'color: #1266f1 !important; border-color: #1266f1 !important;');
                //$('.btn-navbar').removeClass('aqua-gradient')
            }
            else {
                //$('.btn-navbar').attr('style', 'color: #1266f1 !important; border-color: #1266f1 !important;');
                //$('.btn-navbar').addClass('aqua-gradient')
                //$('.btn-navbar').removeClass('purple-gradient')
            }
        })
    });
</script>
{% endblock extra_scripts %}