{% extends "base-standard.html" %}

{% load staticfiles %}
{% load my_template_tags %}

{% block head_title %}Clothify{% endblock %}

{% block body_class  %}grey lighten-5{% endblock body_class %}

{% block content %}

<!--Main layout-->
<main>

  <div class="container" style="margin-top: 3.5cm; margin-bottom: 3.5cm;">

    <!-- Heading -->
    <h1 class="text-center font-roboto mb-5" style="font-size: 4.6em;">Checkout</h1>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-8 select-style">

        <!--Card-->
        <div class="card" style="background-color: #ffffff;">

          <!--Card content-->
          <form method="POST" class="card-body">
            {% csrf_token %}

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--firstName-->
                <div class="md-form">
                  {{ form.first_name }}
                  <label for="first_name" class="">First name</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--lastName-->
                <div class="md-form">
                  {{ form.last_name }}
                  <label for="last_name" class="">Last name</label>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--email-->
            <div class="md-form input-group pl-0 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              {{ form.email }}
            </div>

            <div class="row"></div>

            <!--address-->
            <div class="md-form mb-5">
              {{ form.first_address }}
              <label for="first_address" class="">Address</label>
            </div>

            <!--address-2-->
            <div class="md-form mb-5">
              {{ form.billing_address }}
              <label for="billing_address" class="">Billing address (optional)</label>
            </div>

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <label for="countryLabel">Country</label>
                {{ form.country }}
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">

                <label for="regionLabel">Region</label>
                {{ form.region }}
                <div class="invalid-feedback">
                  Please provide a valid region.
                </div>

              </div>

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">

                <label for="cityLabel">City</label>
                {{ form.city }}
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr>

            <!--Grid row-->
            <div class="row mb-3">

              <!--Grid column-->
              <div class="col-md-4">
                <label for="zip_code" class="">Zip code</label>
                {{ form.zip_code }}
                <div class="invalid-feedback">
                  Zip code required.
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-8 mt-4">

                <div class="custom-control custom-checkbox">
                  {{ form.same_billing_address }}
                  <label class="custom-control-label" for="same_billing_address">Shipping address is the same as my
                    billing
                    address</label>
                </div>
                <div class="custom-control custom-checkbox">
                  {{ form.save_info }}
                  <label class="custom-control-label" for="save_info">Save this information for next time</label>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->


            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

          </form>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4">

        <!-- Card -->
        <div class="card mb-4">
          <div class="card-body">

            <h3 class="font-roboto text-black mb-3" style="font-size: xx-large; color: black;">Summary
            </h3>

            <ul class="list-group list-group-flush">
              {% for order_item in order.order_items.all %}

              <li
                class="list-group-item d-flex justify-content-between align-items-center {% if not forloop.last %}border-0 pb-0{% endif %} px-0">
                {{ order_item.quantity }} x {{ order_item.item.name }}
                <span>{{ order_item.get_total_price }}</span>
              </li>

              {% endfor %}

              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <h3 class="font-roboto text-black mb-0" style="font-size: x-large; color: black;">Total</h3>

                </div>
                <span>
                  <h3 class="font-roboto text-black mb-0" style="font-size: x-large; color: black;">
                    {{ order.get_total_order_price }}
                  </h3>
                </span>
              </li>
            </ul>
            <a href="{% url 'core:payment' %}">
              <button type="button" class="btn btn-primary btn-block btn-checkout waves-effect waves-light">
                payment
                <i class="fas fa-credit-card fa-lg pl-1"></i>
              </button>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Promo code -->
        <form class="card p-2">
          <div class="input-group p-2">
            <input type="text" class="form-control" placeholder="Discount code" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-primary btn-md btn-discount waves-effect m-0" type="button">apply</button>
            </div>
          </div>
        </form>
        <!-- Promo code -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>

</main>
<!--Main layout-->

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script language="javascript">

  $('.btn-checkout').hover(
    function () {
      $(this).removeClass('btn-primary')
      $(this).addClass('btn-outline-primary')
    }, function () {
      $(this).removeClass('btn-outline-primary')
      $(this).addClass('btn-primary')
    }
  );

  $('.btn-discount').hover(
    function () {
      $(this).removeClass('btn-outline-primary')
      $(this).addClass('btn-primary')
    }, function () {
      $(this).removeClass('btn-primary')
      $(this).addClass('btn-outline-primary')
    }
  );

  populateCountry()
  $('#id_country').change(function () { populateRegion(this) });
  $('#id_region').change(function () { populateCity(this) });

  // populate the coutry select widget
  function populateCountry() {
    var response = fetch('/get_countries/').then(function (response) {
      return response.json();
    }).then(function (responseJson) {
      var countries = responseJson.countries;
      $("#id_country").append('<option value="" disabled selected></option>');
      $("#id_region").append('<option value="" disabled selected></option>');
      $("#id_city").append('<option value="" disabled selected></option>');
      for (country of countries) {
        $("#id_country").append(new Option(country, country));
      }
    });
  }

  // populate the region select widget 
  function populateRegion(event) {
    country = $("#id_country option:selected").text();
    var response = fetch('/get_regions/?country_name=' + country).then(function (response) {
      return response.json();
    }).then(function (responseJson) {
      var regions = responseJson.regions;
      $("#id_region").empty();
      $("#id_city").empty();
      $("#id_region").append('<option value="" disabled selected></option>');
      for (region of regions) {
        $("#id_region").append(new Option(region, region));
      }
    });
  }

  // populate the region select widget 
  function populateCity(event) {
    region = $("#id_region option:selected").text();
    var response = fetch('/get_cities/?region_name=' + region).then(function (response) {
      return response.json();
    }).then(function (responseJson) {
      var cities = responseJson.cities;
      $("#id_city").empty();
      $("#id_city").append('<option value="" disabled selected></option>');
      for (city of cities) {
        $("#id_city").append(new Option(city, city));
      }
    });
  }
</script>
{% endblock content %}