{% extends "base.html" %}


{% block head_title %}MarketPlace{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<body class="grey lighten-3">

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4 select-style">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form method="POST" class="card-body">
              {% csrf_token %}

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  <div class="md-form">
                    {{ form.first_name }}
                    <label for="first_name" class="">First name</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  <div class="md-form">
                    {{ form.last_name }}
                    <label for="last_name" class="">Last name</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--email-->
              <div class="md-form input-group pl-0 mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                {{ form.email }}
              </div>

              <div class="row"></div>

              <!--address-->
              <div class="md-form mb-5">
                {{ form.first_address }}
                <label for="first_address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                {{ form.billing_address }}
                <label for="billing_address" class="">Billing address (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="countryLabel">Country</label>
                  {{ form.country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="regionLabel">Region</label>
                  {{ form.region }}
                  <div class="invalid-feedback">
                    Please provide a valid region.
                  </div>

                </div>

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="cityLabel">City</label>
                  {{ form.city }}
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

              <!--Grid row-->
              <div class="row mb-3">

                <!--Grid column-->
                <div class="col-md-4">
                  <label for="zip_code" class="">Zip code</label>
                  {{ form.zip_code }}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-8 mt-4">

                  <div class="custom-control custom-checkbox">
                    {{ form.same_billing_address }}
                    <label class="custom-control-label" for="same_billing_address">Shipping address is the same as my
                      billing
                      address</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    {{ form.save_info }}
                    <label class="custom-control-label" for="save_info">Save this information for next time</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" type="radio" class="custom-control-input"
                    value="{{value}}" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
              </div>
            </div>
          </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
</body>
{% endblock content %}

{% block extra_scripts %}
<!-- Navbar active current page -->
<script type="text/javascript">
  var element = document.getElementById("checkout");
  element.classList.add("active");
</script>

<!-- Filter the form field by the value of another field -->
<script language="javascript">

  populateCountry()
  $('#id_country').change(function () { populateRegion(this) });
  $('#id_region').change(function () { populateCity(this) });

  // populate the coutry select widget
  function populateCountry() {
    var response = fetch('/get_countries/').then(function (response) {
      return response.json();
    }).then(function (responseJson) {
      var countries = responseJson.countries;
      $("#id_country").append('<option value="" disabled selected></option>');
      $("#id_region").append('<option value="" disabled selected></option>');
      $("#id_city").append('<option value="" disabled selected></option>');
      for (country of countries) {
        $("#id_country").append(new Option(country, country));
      }
    });
  }

  // populate the region select widget 
  function populateRegion(event) {
    country = $("#id_country option:selected").text();
    var response = fetch('/get_regions/?country_name=' + country).then(function (response) {
      return response.json();
    }).then(function (responseJson) {
      var regions = responseJson.regions;
      $("#id_region").empty();
      $("#id_city").empty();
      $("#id_region").append('<option value="" disabled selected></option>');
      for (region of regions) {
        $("#id_region").append(new Option(region, region));
      }
    });
  }

  // populate the region select widget 
  function populateCity(event) {
    region = $("#id_region option:selected").text();
    var response = fetch('/get_cities/?region_name=' + region).then(function (response) {
      return response.json();
    }).then(function (responseJson) {
      var cities = responseJson.cities;
      $("#id_city").empty();
      $("#id_city").append('<option value="" disabled selected></option>');
      for (city of cities) {
        $("#id_city").append(new Option(city, city));
      }
    });
  }
</script>
{% endblock extra_scripts %}