{% extends "base-carousel.html" %}

{% load staticfiles %}
{% load my_template_tags %}

{% block head_title %}Clothify{% endblock %}


{% block content %}

<style>
    h4.text-black {
        color: black !important;
    }

    #post-image-view {
        position: relative;
        height: 505px;
    }

    #post-image-view img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>

<!--Main layout-->
<main>
    <div class="container">

        <!--Section: Block Content-->
        <section>

            <h1 class="font-roboto mb-0 mt-2 text-black">Categories</h1>
            <h5 class="font-roboto text-muted mb-4-5">Discover our unique clothes</h5>

            <!-- Grid row -->
            <div class="row">
                {% for category in categories %}
                <!-- Grid column -->
                <div class="col-md-6 col-lg-3 mb-1 p-2">

                    <!-- Card -->
                    <div class="">

                        <div class="view zoom brighten z-depth-2 rounded">
                            <img class="img-fluid" src="{{ category.img.url }}" alt="Sample">
                            <a href="" class="text-white">
                                <div class="mask rgba-black-light waves-effect waves-light">
                                    <div class="d-flex align-items-end h-100 p-3">
                                        <h5 class="mb-0">{{ category.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <!-- Card -->

                </div>
                <!-- Grid column -->
                {% endfor %}

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Block Content-->

        <!--Section: Block Content-->
        <section>

            <h1 class="font-roboto mb-0 mt-3">Home</h1>
            <h5 class="font-roboto text-muted mb-5">Clothes selected for you</h5>


            <!-- Grid row -->
            <div class="row" style="margin-bottom: 3cm;">

                {% for item in items %}

                <!-- Grid column -->
                <div class="col-md-4 mb-5">

                    <!-- Card -->
                    <div class="card card-cascade zoom">

                        <div id="post-image-view" class="view view-cascade overlay">
                            <img class="img-fluid w-100 hoverable" src="{{  item.img.url  }}" alt="Sample">
                            {% if item.label %}
                            <h3 class="mb-0"><span
                                    class="badge {{ item.label.color}} font-roboto badge-pill badge-news">{{ item.label.tag }}</span>
                            </h3>
                            {% endif %}
                            <a href="{{ item.get_url }}">
                                <div class="mask rgba-white-slight waves-effect waves-light">
                                </div>
                            </a>
                        </div>

                        <div class="card-body card-body-cascade text-center pt-4 pb-0">

                            <h4 class="font-roboto text-black mb-3">{{ item.name }}</h4>

                            <h5 class="mb-3">
                                <span class="text-primary mr-1"><strong>${{ item.price }}</strong></span>
                                {% if item.not_discounted_price %}
                                <span class="text-grey"><small><s>${{ item.not_discounted_price }}</s></small></span>
                                {% endif %}
                            </h5>

                        </div>

                    </div>
                    <!-- Card -->

                </div>
                <!-- Grid column -->

                {% endfor %}

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Block Content-->



    </div>
</main>
<!--Main layout-->
{% endblock content %}