{% load staticfiles %}
{% load my_template_tags %}

<!-- SCRIPTS -->
<!-- JQuery -->
<script src="{% static 'home_files/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'home_files/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'home_files/bootstrap.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'home_files/mdb.min.js' %}"></script>